html{
    display: flex;
    justify-content: center;
}

h3{
    text-align: center;
}



.grid{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    min-height: 100px;
    min-width: 100px;
    justify-content: center;
}

.btn{
    color: black;
    background-color:red;
    font-size:1.5rem;
    margin: 0 auto;
    display: block;
    margin-top: 4rem;
    justify-content: center;
}


.btn:hover{
    background-color: #b73a3a;
    
}
